.homeContainer {
  display: flex;
  gap: 100px;
}
.homeText {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.homeImage {
  position: relative;
  flex: 1;
}
.brands {
  width: 500px;
  height: 50px;
  position: relative;
  filter: grayscale(1);
}
.homeTitle {
  font-size: 96px;
}
.homeDec {
  font-size: 20px;
}
.homeBtn {
  display: flex;
  gap: 20px;
}
.homeBtns {
  padding: 20px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.homeBtns:first-child {
  background-color: var(--btn);
  color: var(--text);
}
@media (max-width: 768px) {
  .homeContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .homeBtn {
    display: flex;
    justify-content: center;
  }
  .homeTitle {
    font-size: 65px;
  }
}
