.blogContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.blogsPost {
  width: 30%;
}
@media screen and (max-width: 1280px) {
  .blogsPost {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .blogsPost {
    width: 100%;
  }
}
